{% extends "base.html" %}
{% block content %}
<section class="card form-card">
  <h2>New Payment</h2>
  <form method="post">
    <label>Amount</label>
    <input type="number" step="0.01" min="0" name="amount" required />

    <label>Merchant</label>
    <input name="merchant" required />

    <label>Location</label>
    <input name="location" required />

    <label>Transfer App</label>
    <select name="app_source">
      <option>PhonePe</option>
      <option>Google Pay</option>
      <option>Paytm</option>
      <option>Amazon Pay</option>
      <option>Bank App</option>
      <option>Other</option>
    </select>

    <label>Payment Method</label>
    <select name="payment_method">
      <option>Card</option>
      <option>UPI</option>
      <option>Net Banking</option>
      <option>Gift Card</option>
      <option>Crypto</option>
    </select>

    <button class="btn" type="submit">Process Transaction</button>
  </form>
</section>
{% endblock %}
